.content{
  max-width: 1180px;
  margin: 0 auto;
}
@media screen and (max-width: 1180px){
  .content{
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px){
  .content{
    max-width: 768px;
  }
}
@media screen and (max-width: 768px){
  .content{
    max-width: 576px;
  }
}
@media screen and (max-width: 576px){
  .content{
    width: 100%;
    padding: 0 15px;
  }
}