.title{
  max-width: 1180px;
  margin: 0 auto;
  font-size: 38px;
  color: #fff;
  padding-bottom: 43px;
}

@media screen and (max-width: 1180px){
  .title{
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px){
  .title{
    max-width: 768px;
  }
}
@media screen and (max-width: 768px){
  .title{
    max-width: 576px;
    font-size: 28px;
  }
}
@media screen and (max-width: 576px){
  .title{
    width: 100%;
    padding: 0 15px 40px;
    font-size: 26px;
  }
}